In [1]:
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException , StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
import re
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [2]:
import pandas as pd

In [22]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [23]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [24]:
Rank = []
Name = []
Arist = []
Date = []
Views = []

In [25]:
Rank = []

try:
    for i in driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr/td[1]'):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")

In [26]:
Rank

['1.',
 '2.',
 '3.',
 '4.',
 '5.',
 '6.',
 '7.',
 '8.',
 '9.',
 '10.',
 '11.',
 '12.',
 '13.',
 '14.',
 '15.',
 '16.',
 '17.',
 '18.',
 '19.',
 '20.',
 '21.',
 '22.',
 '23.',
 '24.',
 '25.',
 '26.',
 '27.',
 '28.',
 '29.',
 '30.']

In [27]:
Name = []

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")

In [28]:
Name

['"Baby Shark Dance"[4]',
 '"Despacito"[7]',
 '"Johny Johny Yes Papa"[14]',
 '"Bath Song"[15]',
 '"Shape of You"[16]',
 '"See You Again"[18]',
 '"Phonics Song with Two Words"[23]',
 '"Uptown Funk"[24]',
 '"Wheels on the Bus"[25]',
 '"Learning Colors – Colorful Eggs on a Farm"[26]',
 '"Gangnam Style"[27]',
 '"Masha and the Bear – Recipe for Disaster"[32]',
 '"Dame Tu Cosita"[33]',
 '"Sugar"[34]',
 '"Roar"[35]',
 '"Counting Stars"[36]',
 '"Axel F"[37]',
 '"Sorry"[38]',
 '"Thinking Out Loud"[39]',
 '"Baa Baa Black Sheep"[40]',
 '"Dark Horse"[41]',
 '"Waka Waka (This Time for Africa)"[42]',
 '"Faded"[43]',
 '"Let Her Go"[44]',
 '"Girls Like You"[45]',
 '"Perfect"[46]',
 '"Bailando"[47]',
 '"Lean On"[48]',
 '"Humpty the train on a fruits ride"[49]',
 '"Lakdi Ki Kathi"[50]']

In [31]:
Artist = []
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")

In [32]:
Artist

["Pinkfong Baby Shark - Kids' Songs & Stories",
 'Luis Fonsi',
 'LooLoo Kids',
 'Cocomelon – Nursery Rhymes',
 'Ed Sheeran',
 'Wiz Khalifa',
 'ChuChu TV',
 'Mark Ronson',
 'Cocomelon – Nursery Rhymes',
 'Miroshka TV',
 'Psy',
 'Get Movies',
 'El Chombo',
 'Maroon 5',
 'Katy Perry',
 'OneRepublic',
 'Crazy Frog',
 'Justin Bieber',
 'Ed Sheeran',
 'Cocomelon – Nursery Rhymes',
 'Katy Perry',
 'Shakira',
 'Alan Walker',
 'Passenger',
 'Maroon 5',
 'Ed Sheeran',
 'Enrique Iglesias',
 'Major Lazer',
 'Kiddiestv Hindi – Nursery Rhymes & Kids Songs',
 'Jingle Toons']

In [35]:
Date= []
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")

In [37]:
Views = []

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [38]:
Date

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'May 2, 2018',
 'January 30, 2017',
 'April 6, 2015',
 'March 6, 2014',
 'November 19, 2014',
 'May 24, 2018',
 'February 27, 2018',
 'July 15, 2012',
 'January 31, 2012',
 'April 5, 2018',
 'January 14, 2015',
 'September 5, 2013',
 'May 31, 2013',
 'June 16, 2009',
 'October 22, 2015',
 'October 7, 2014',
 'June 25, 2018',
 'February 20, 2014',
 'June 4, 2010',
 'December 3, 2015',
 'July 25, 2012',
 'May 31, 2018',
 'November 9, 2017',
 'April 11, 2014',
 'March 22, 2015',
 'January 26, 2018',
 'June 14, 2018']

In [39]:
Views

['12.00',
 '8.05',
 '6.57',
 '5.89',
 '5.88',
 '5.74',
 '5.08',
 '4.79',
 '4.77',
 '4.76',
 '4.64',
 '4.52',
 '4.18',
 '3.80',
 '3.70',
 '3.70',
 '3.67',
 '3.62',
 '3.53',
 '3.46',
 '3.42',
 '3.40',
 '3.38',
 '3.36',
 '3.35',
 '3.33',
 '3.31',
 '3.31',
 '3.26',
 '3.24']

In [40]:
df = pd.DataFrame({'Rank':Rank,'Name':Name,'Artist':Artist,'Date':Date,'Views':Views})
df

,Rank,Name,Artist,Date,Views
0,1.,"""Baby Shark Dance""[4]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",12.00
1,2.,"""Despacito""[7]",Luis Fonsi,"January 12, 2017",8.05
2,3.,"""Johny Johny Yes Papa""[14]",LooLoo Kids,"October 8, 2016",6.57
3,4.,"""Bath Song""[15]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.89
4,5.,"""Shape of You""[16]",Ed Sheeran,"January 30, 2017",5.88
5,6.,"""See You Again""[18]",Wiz Khalifa,"April 6, 2015",5.74
6,7.,"""Phonics Song with Two Words""[23]",ChuChu TV,"March 6, 2014",5.08
7,8.,"""Uptown Funk""[24]",Mark Ronson,"November 19, 2014",4.79
8,9.,"""Wheels on the Bus""[25]",Cocomelon – Nursery Rhymes,"May 24, 2018",4.77
9,10.,"""Learning Colors – Colorful Eggs on a Farm""[26]",Miroshka TV,"February 27, 2018",4.76
10,11.,"""Gangnam Style""[27]",Psy,"July 15, 2012",4.64
11,12.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,"January 31, 2012",4.52
12,13.,"""Dame Tu Cosita""[33]",El Chombo,"April 5, 2018",4.18
13,14.,"""Sugar""[34]",Maroon 5,"January 14, 2015",3.80
14,15.,"""Roar""[35]",Katy Perry,"September 5, 2013",3.70
15,16.,"""Counting Stars""[36]",OneRepublic,"May 31, 2013",3.70
16,17.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.67
17,18.,"""Sorry""[38]",Justin Bieber,"October 22, 2015",3.62
18,19.,"""Thinking Out Loud""[39]",Ed Sheeran,"October 7, 2014",3.53
19,20.,"""Baa Baa Black Sheep""[40]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.46
20,21.,"""Dark Horse""[41]",Katy Perry,"February 20, 2014",3.42
21,22.,"""Waka Waka (This Time for Africa)""[42]",Shakira,"June 4, 2010",3.40
22,23.,"""Faded""[43]",Alan Walker,"December 3, 2015",3.38
23,24.,"""Let Her Go""[44]",Passenger,"July 25, 2012",3.36
24,25.,"""Girls Like You""[45]",Maroon 5,"May 31, 2018",3.35
25,26.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.33
26,27.,"""Bailando""[47]",Enrique Iglesias,"April 11, 2014",3.31
27,28.,"""Lean On""[48]",Major Lazer,"March 22, 2015",3.31
28,29.,"""Humpty the train on a fruits ride""[49]",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.26
29,30.,"""Lakdi Ki Kathi""[50]",Jingle Toons,"June 14, 2018",3.24

# question 2

In [72]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [73]:
driver.get('https://www.bcci.tv/')

In [74]:
search_button = driver.find_element(By.XPATH,'//li[@class="nav-item"]')
search_button.click()

In [75]:
Match_Title = []
Series = []
Place = []
Date = []
Time = []

In [82]:
Match_Title = []
for i in driver.find_elements(By.XPATH,'//span[@class="matchOrderText ng-binding ng-scope"]'):
    Match_Title.append(i.text)

In [83]:
Match_Title

['1st T20I -',
 '2nd T20I -',
 '3rd T20I -',
 '1st ODI -',
 '2nd ODI -',
 '3rd ODI -',
 '1st ODI -',
 '2nd ODI -']

In [85]:
Series = []
for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding"]'):
    Series.append(i.text)

In [87]:
Series

['SRI LANKA TOUR OF INDIA T20 SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA T20 SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA T20 SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA ODI SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA ODI SERIES 2022-23',
 'SRI LANKA TOUR OF INDIA ODI SERIES 2022-23',
 'NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23',
 'NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23']

In [88]:
Place = []

for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
    Place.append(i.text)

In [89]:
Place

['Wankhede Stadium,',
 'Maharashtra Cricket Association Stadium,',
 'Saurashtra Cricket Association Stadium,',
 'Barsapara Cricket Stadium,',
 'Eden Gardens,',
 'Greenfield International Stadium,',
 'Rajiv Gandhi International Stadium,',
 'Shaheed Veer Narayan Singh International Cricket Stadium,']

In [91]:

Date = []
for i in driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]'):
    Date.append(i.text)

In [92]:
Date

['3 JAN 2023',
 '5 JAN 2023',
 '7 JAN 2023',
 '10 JAN 2023',
 '12 JAN 2023',
 '15 JAN 2023',
 '18 JAN 2023',
 '21 JAN 2023']

In [93]:
Time = []

for i in driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]'):
    Time.append(i.text)

In [94]:
Time

['7:00 PM IST',
 '7:00 PM IST',
 '7:00 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '1:30 PM IST',
 '1:30 PM IST']

In [95]:
df2 = pd.DataFrame({'Match_Title':Match_Title,'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df2

,Match_Title,Series,Place,Date,Time
0,1st T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Wankhede Stadium,",3 JAN 2023,7:00 PM IST
1,2nd T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Maharashtra Cricket Association Stadium,",5 JAN 2023,7:00 PM IST
2,3rd T20I -,SRI LANKA TOUR OF INDIA T20 SERIES 2022-23,"Saurashtra Cricket Association Stadium,",7 JAN 2023,7:00 PM IST
3,1st ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Barsapara Cricket Stadium,",10 JAN 2023,1:30 PM IST
4,2nd ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Eden Gardens,",12 JAN 2023,1:30 PM IST
5,3rd ODI -,SRI LANKA TOUR OF INDIA ODI SERIES 2022-23,"Greenfield International Stadium,",15 JAN 2023,1:30 PM IST
6,1st ODI -,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,"Rajiv Gandhi International Stadium,",18 JAN 2023,1:30 PM IST
7,2nd ODI -,NEW ZEALAND TOUR OF INDIA ODI SERIES 2022-23,Shaheed Veer Narayan Singh International Crick...,21 JAN 2023,1:30 PM IST

# Question 3

In [109]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [110]:
driver.get('https://www.guru99.com/')

In [111]:
search_button = driver.find_element(By.XPATH,"//a[@title='Selenium']")
search_button.click()

In [ ]:
search_btn = driver.find_element(By.XPATH,'//a[@title="Selenium Exception Handling (Common Exceptions List)"]')
search_btn.click()

In [122]:
Name = []

for i in driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[1]"):
    Name.append(i.text)

In [127]:
Description = []
for i in driver.find_elements(By.XPATH,"//table[@class='table table-striped']/tbody/tr/td[2]"):
    Description.append(i.text)

# question 4

In [6]:
from selenium.common.exceptions import ElementNotInteractableException

In [20]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [21]:
driver.get('http://statisticstimes.com/')

In [22]:
search_eco = driver.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button")
search_eco.click()

In [32]:
search_ind = driver.find_element(By.XPATH,'//a[@class="ec"]')
search_ind.click()

In [33]:
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

In [35]:
Rank = []
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

In [36]:
Rank

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '25',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33']

In [38]:
State = []
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")

In [39]:
State

['Mizoram',
 'Tripura',
 'Gujarat',
 'Karnataka',
 'Haryana',
 'Delhi',
 'Telangana',
 'Sikkim',
 'Uttarakhand',
 'Chandigarh',
 'Madhya Pradesh',
 'Andhra Pradesh',
 'Assam',
 'Odisha',
 'Himachal Pradesh',
 'Tamil Nadu',
 'Maharashtra',
 'Rajasthan',
 'Uttar Pradesh',
 'Kerala',
 'Bihar',
 'Arunachal Pradesh',
 'Jharkhand',
 'Manipur',
 'Punjab',
 'Chhattisgarh',
 'Jammu & Kashmir',
 'Goa',
 'Nagaland',
 'West Bengal',
 'Puducherry',
 'Meghalaya',
 'Andaman & Nicobar Islands',
 'Mizoram',
 'Gujarat',
 'Tripura',
 'Haryana',
 'Karnataka',
 'Uttarakhand',
 'Telangana',
 'Delhi',
 'Himachal Pradesh',
 'Sikkim',
 'Madhya Pradesh',
 'Chandigarh',
 'Andhra Pradesh',
 'Odisha',
 'Assam',
 'Tamil Nadu',
 'Maharashtra',
 'Kerala',
 'Uttar Pradesh',
 'Rajasthan',
 'Jharkhand',
 'Manipur',
 'Bihar',
 'Punjab',
 'Arunachal Pradesh',
 'Goa',
 'Nagaland',
 'Chhattisgarh',
 'West Bengal',
 'Jammu & Kashmir',
 'Puducherry',
 'Meghalaya',
 'Andaman & Nicobar Islands']

In [40]:
GSDP1 = []
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")

In [41]:
GSDP1

['14.07',
 '9.79',
 '-',
 '5.95',
 '7.75',
 '7.42',
 '8.23',
 '6.92',
 '-',
 '-',
 '7.62',
 '8.16',
 '-',
 '5.21',
 '5.56',
 '8.03',
 '-',
 '5.05',
 '3.81',
 '-',
 '10.47',
 '-',
 '6.69',
 '7.11',
 '5.33',
 '5.32',
 '-',
 '9.73',
 '-',
 '7.26',
 '9.04',
 '8.16',
 '-',
 '15.78',
 '-',
 '9.60',
 '7.77',
 '5.96',
 '-',
 '8.25',
 '7.27',
 '5.55',
 '6.81',
 '7.55',
 '-',
 '8.18',
 '5.07',
 '-',
 '8.14',
 '-',
 '-',
 '3.74',
 '5.04',
 '6.76',
 '7.67',
 '10.80',
 '5.41',
 '-',
 '9.51',
 '-',
 '5.18',
 '7.69',
 '-',
 '8.56',
 '8.19',
 '-']

In [42]:
GSDP2 = []

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")

In [43]:
GSDP2

['11.63',
 '11.69',
 '9.19',
 '6.67',
 '7.49',
 '7.71',
 '9.53',
 '5.94',
 '6.87',
 '7.39',
 '5.77',
 '4.45',
 '6.42',
 '4.23',
 '7.10',
 '7.95',
 '5.99',
 '6.97',
 '6.26',
 '7.46',
 '9.27',
 '4.59',
 '6.84',
 '2.93',
 '5.98',
 '7.06',
 '6.08',
 '9.75',
 '7.05',
 '6.41',
 '3.30',
 '9.38',
 '-',
 '11.56',
 '9.55',
 '11.27',
 '7.46',
 '6.32',
 '6.81',
 '9.65',
 '7.58',
 '7.45',
 '5.05',
 '5.59',
 '6.61',
 '4.51',
 '3.52',
 '6.11',
 '7.96',
 '5.77',
 '7.55',
 '5.99',
 '7.07',
 '6.71',
 '2.12',
 '9.01',
 '5.95',
 '4.80',
 '10.20',
 '8.18',
 '6.80',
 '6.20',
 '5.05',
 '2.76',
 '9.09',
 '-']

In [44]:
Share = []

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")

In [45]:
Share

['12.56',
 '9.94',
 '9.83',
 '8.79',
 '8.64',
 '8.04',
 '7.96',
 '7.72',
 '7.66',
 '7.54',
 '7.50',
 '7.36',
 '7.34',
 '7.32',
 '7.14',
 '7.12',
 '6.88',
 '6.54',
 '6.51',
 '6.34',
 '6.18',
 '6.17',
 '6.04',
 '5.96',
 '5.88',
 '5.61',
 '5.51',
 '5.48',
 '5.46',
 '5.16',
 '4.69',
 '3.17',
 '-',
 '13.48',
 '9.99',
 '9.65',
 '8.45',
 '8.45',
 '7.87',
 '7.83',
 '7.74',
 '7.67',
 '7.36',
 '7.32',
 '7.23',
 '7.20',
 '7.08',
 '7.02',
 '6.97',
 '6.88',
 '6.62',
 '6.18',
 '6.16',
 '6.05',
 '6.01',
 '5.89',
 '5.80',
 '5.77',
 '5.58',
 '5.55',
 '5.05',
 '4.94',
 '4.75',
 '4.58',
 '2.79',
 '-']

In [46]:
GDP_billion = []

try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [47]:
GDP_billion

['18.91',
 '12.32',
 '-',
 '9.30',
 '13.27',
 '10.48',
 '12.61',
 '13.13',
 '-',
 '-',
 '11.99',
 '12.73',
 '-',
 '6.86',
 '7.56',
 '13.23',
 '-',
 '8.32',
 '6.50',
 '-',
 '15.36',
 '-',
 '10.56',
 '14.07',
 '9.19',
 '8.26',
 '-',
 '9.95',
 '-',
 '15.04',
 '11.09',
 '9.23',
 '-',
 '16.60',
 '-',
 '12.03',
 '13.47',
 '9.28',
 '-',
 '12.72',
 '10.66',
 '7.32',
 '12.93',
 '12.19',
 '-',
 '12.79',
 '6.94',
 '-',
 '13.23',
 '-',
 '-',
 '6.48',
 '8.37',
 '10.75',
 '15.10',
 '15.60',
 '9.53',
 '-',
 '9.26',
 '-',
 '8.07',
 '15.59',
 '-',
 '10.85',
 '11.13',
 '-']

In [49]:
import pandas as pd
df4 = pd.DataFrame({'Rank':Rank,'State':State,'GSDP1':GSDP1,'GSDP2':GSDP2,'Share':Share,'GDP_billion':GDP_billion})
df4

   Rank                      State  GSDP1  GSDP2  Share GDP_billion
0     1                    Mizoram  14.07  11.63  12.56       18.91
1     2                    Tripura   9.79  11.69   9.94       12.32
2     3                    Gujarat      -   9.19   9.83           -
3     4                  Karnataka   5.95   6.67   8.79        9.30
4     5                    Haryana   7.75   7.49   8.64       13.27
..  ...                        ...    ...    ...    ...         ...
61   29                West Bengal   7.69   6.20   4.94       15.59
62   30            Jammu & Kashmir      -   5.05   4.75           -
63   31                 Puducherry   8.56   2.76   4.58       10.85
64   32                  Meghalaya   8.19   9.09   2.79       11.13
65   33  Andaman & Nicobar Islands      -      -      -           -

[66 rows x 6 columns]

# question 5

In [119]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [120]:
driver.get('https://github.com/')

In [4]:
exp = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button')
exp.click()

In [5]:
explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/ul[3]/li[3]/a')


urls = explore.get_attribute("href")
driver.get(urls)

In [6]:

repository_title = []
Description = []
Contributors = []
Language = []

In [7]:
repository_title = []
try:
    for i in driver.find_elements(By.XPATH,'//h1[@class="h3 lh-condensed"]'):
        repository_title.append(i.text)
except NoSuchElementException:
        repository_title.append('-')

In [8]:
repository_title

['LAION-AI / Open-Assistant',
 'karpathy / nanoGPT',
 'sczhou / CodeFormer',
 'DarkFlippers / unleashed-firmware',
 'ytdl-org / youtube-dl',
 'google / osv-scanner',
 'pola-rs / polars',
 'neonbjb / tortoise-tts',
 'Developer-Y / cs-video-courses',
 'dair-ai / Prompt-Engineering-Guide',
 'Ebazhanov / linkedin-skill-assessments-quizzes',
 'ocornut / imgui',
 'AmruthPillai / Reactive-Resume',
 'PRQL / prql',
 'A-poc / RedTeam-Tools',
 'jerryjliu / gpt_index',
 'imDazui / Tvlist-awesome-m3u-m3u8',
 'aurae-runtime / aurae',
 'zlib-searcher / zlib-searcher',
 'BrunoLevy / learn-fpga',
 'alist-org / alist',
 'freeCodeCamp / freeCodeCamp',
 'Atlas-OS / Atlas',
 'SheerSt / pokewilds',
 'jwasham / coding-interview-university']

In [32]:
for i in URLs:
    driver.get(i)
    time.sleep(5)

In [11]:
Description = []

try:
    for i in driver.find_elements(By.XPATH,"//p[@class='col-9 color-fg-muted my-1 pr-4']"):
        Description.append(i.text)
except NoSuchElementException:
        Description.append('-')

In [12]:
Description

['OpenAssistant is a chat-based assistant that understands tasks, can interact with third-party systems, and retrieve information dynamically to do so.',
 'The simplest, fastest repository for training/finetuning medium-sized GPTs.',
 '[NeurIPS 2022] Towards Robust Blind Face Restoration with Codebook Lookup Transformer',
 'Flipper Zero Unleashed Firmware',
 'Command-line program to download videos from YouTube.com and other video sites',
 'Vulnerability scanner written in Go which uses the data provided by https://osv.dev',
 'Fast multi-threaded, hybrid-streaming DataFrame library in Rust | Python | Node.js',
 'A multi-voice TTS system trained with an emphasis on quality',
 'List of Computer Science courses with video lectures.',
 '🐙 Guide and resources for prompt engineering',
 'Full reference of LinkedIn answers 2022 for skill assessments (aws-lambda, rest-api, javascript, react, git, html, jquery, mongodb, java, Go, python, machine-learning, power-point) linkedin excel test lösungen, linkedin machine learning test LinkedIn test questions and answers',
 'Dear ImGui: Bloat-free Graphical User interface for C++ with minimal dependencies',
 'A one-of-a-kind resume builder that keeps your privacy in mind. Completely secure, customizable, portable, open-source and free forever. Try it out today!',
 'PRQL is a modern language for transforming data — a simple, powerful, pipelined SQL replacement',
 'Tools and Techniques for Red Team / Penetration Testing',
 'An index created by GPT to organize external information and answer queries!',
 '直播源相关资源汇总 📺 💯 IPTV、M3U —— 勤洗手、戴口罩，祝愿所有人百毒不侵',
 'Distributed systems runtime daemon written in Rust.',
 'search zlib/libgen index to get ipfs_cid.',
 'Learning FPGA, yosys, nextpnr, and RISC-V',
 '🗂️A file list program that supports multiple storage, powered by Gin and Solidjs. / 一个支持多存储的文件列表程序，使用 Gin 和 Solidjs。',
 "freeCodeCamp.org's open-source codebase and curriculum. Learn to code for free.",
 '🚀 An open-source modification of Windows 10, designed to optimize performance, and latency.',
 'PokeWilds - A Gen 2 Game/Engine using libGDX',
 'A complete computer science study plan to become a software engineer.']

In [13]:
Contributors = []
try:
    for i in driver.find_elements(By.XPATH,"//a[@class='Link--muted d-inline-block mr-3']"):
        Contributors.append(i.text)
except NoSuchElementException:
        Contributors.append('-')

In [15]:
Contributors

['2,486',
 '207',
 '825',
 '40',
 '1,976',
 '300',
 '3,993',
 '362',
 '116,169',
 '8,482',
 '3,521',
 '166',
 '11,041',
 '574',
 '2,124',
 '240',
 '48,351',
 '6,948',
 '865',
 '39',
 '21,666',
 '11,758',
 '44,206',
 '7,787',
 '9,544',
 '1,135',
 '5,995',
 '121',
 '488',
 '58',
 '603',
 '38',
 '15,670',
 '2,280',
 '1,085',
 '48',
 '3,127',
 '222',
 '1,454',
 '138',
 '14,485',
 '2,088',
 '358,852',
 '30,655',
 '3,222',
 '137',
 '1,553',
 '119',
 '242,126',
 '64,591']

In [29]:
import pandas as pd
dfm = pd.DataFrame({'contributors':Contributors})
dfm

   contributors
0         2,486
1           207
2           825
3            40
4         1,976
5           300
6         3,993
7           362
8       116,169
9         8,482
10        3,521
11          166
12       11,041
13          574
14        2,124
15          240
16       48,351
17        6,948
18          865
19           39
20       21,666
21       11,758
22       44,206
23        7,787
24        9,544
25        1,135
26        5,995
27          121
28          488
29           58
30          603
31           38
32       15,670
33        2,280
34        1,085
35           48
36        3,127
37          222
38        1,454
39          138
40       14,485
41        2,088
42      358,852
43       30,655
44        3,222
45          137
46        1,553
47          119
48      242,126
49       64,591

In [34]:
Language = []
try:
    for i in driver.find_elements(By.XPATH,"//span[@itemprop='programmingLanguage']"):
        Language.append(i.text)
except NoSuchElementException:
        Language.append('-')

In [35]:
Language

['Jupyter Notebook',
 'Python',
 'Python',
 'C',
 'Python',
 'Go',
 'Rust',
 'Python',
 'Python',
 'C++',
 'TypeScript',
 'Rust',
 'Python',
 'Rust',
 'TypeScript',
 'C++',
 'Go',
 'TypeScript',
 'Batchfile',
 'Assembly']

# question 6

In [2]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [4]:
driver.get("https://www.billboard.com/")

In [12]:
search_chart = driver.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link lrv-a-font-primary-l lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-lightest  lrv-u-padding-r-075@desktop"]')
search_chart.click()

In [14]:
view_charts = driver.find_element(By.XPATH,'//a[@class="c-link  lrv-a-unstyle-link lrv-u-background-color-brand-secondary-dark lrv-u-color-grey-lightest lrv-u-color-grey-lightest:hover lrv-u-width-100p lrv-u-text-align-center lrv-a-hover-effect lrv-u-background-color-grey-dark:hover a-font-accent-fancy lrv-u-font-size-20 u-padding-tb-15 u-letter-spacing-0112 lrv-a-icon-after a-icon-magazine lrv-u-justify-content-center lrv-u-align-items-center lrv-a-unstyle-link u-width-100p@tablet u-width-235@mobile-max lrv-u-margin-t-050@mobile-max u-background-color-white@mobile-max u-color-black@mobile-max lrv-u-border-a-1@mobile-max lrv-u-border-color-brand-accent-red u-line-height-1"]')
view_charts.click()

In [51]:
Song_Name = []

for i in driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]'):
    Song_Name.append(i.text)

In [52]:
Song_Name

["Rockin' Around The Christmas Tree",
 'Jingle Bell Rock',
 'A Holly Jolly Christmas',
 'Last Christmas',
 "It's The Most Wonderful Time Of The Year",
 'Kill Bill',
 'Feliz Navidad',
 'Anti-Hero',
 'Unholy',
 'The Christmas Song (Merry Christmas To You)',
 'Santa Tell Me',
 'Sleigh Ride',
 'Underneath The Tree',
 'Christmas (Baby Please Come Home)',
 'Deck The Halls',
 'Let It Snow, Let It Snow, Let It Snow',
 'White Christmas',
 "Creepin'",
 'Rich Flex',
 "It's Beginning To Look A Lot Like Christmas",
 'Jingle Bells',
 "I'm Good (Blue)",
 "It's Beginning To Look A Lot Like Christmas",
 'Here Comes Santa Claus (Right Down Santa Claus Lane)',
 'Die For You',
 'Blue Christmas',
 'Rudolph The Red-Nosed Reindeer',
 'Bad Habit',
 'Little Saint Nick',
 "You're A Mean One, Mr. Grinch",
 'Wonderful Christmastime',
 "Santa Claus Is Comin' To Town",
 'Run Rudolph Run',
 'As It Was',
 'Shirt',
 'Under The Influence',
 'Happy Xmas (War Is Over)',
 'Cuff It',
 'Happy Holiday / The Holiday Season',
 'Superhero (Heroes & Villains)',
 'Merry Christmas',
 'Nobody Gets Me',
 'Please Come Home For Christmas',
 'Santa Baby',
 'You Proof',
 'This Christmas',
 'Blind',
 'Linus And Lucy (Peanuts Theme)',
 'Something In The Orange',
 'Made You Look',
 'Low',
 'Super Freaky Girl',
 'Golden Hour',
 'Just Wanna Rock',
 'Tomorrow 2',
 'Lift Me Up',
 'Love Language',
 'Someday At Christmas',
 'Thank God',
 'Snooze',
 'Until I Found You',
 'Seek & Destroy',
 'Rock And A Hard Place',
 'What My World Spins Around',
 "Victoria's Secret",
 'Lavender Haze',
 'Son Of A Sinner',
 'Wait In The Truck',
 'Used',
 'Special',
 'Escapism',
 'Going, Going, Gone',
 'Heart Like A Truck',
 'Ghost In The Machine',
 'Blue Christmas',
 "Star Walkin' (League Of Legends Worlds Anthem)",
 "Santa, Can't You Hear Me",
 'SOS',
 'Whiskey On You',
 'Last Christmas',
 'Gone Girl',
 'Calm Down',
 'Too Many Nights',
 'Notice Me',
 'Open Arms',
 'Spin Bout U',
 'Smoking On My Ex Pack',
 'Niagara Falls (Foot Or 2)',
 'Circo Loco',
 'F2F',
 'Face 2 Face',
 'Kid On Christmas',
 'Romantic Homicide',
 'Conceited',
 'Down Home',
 'One Thing At A Time',
 'Hold Me Closer',
 'Far',
 'All Mine']

In [53]:
Artist_Name =[]
for i in driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']"):
    Artist_Name.append(i.text)

In [54]:
Artist_Name

['Brenda Lee',
 'Bobby Helms',
 'Burl Ives',
 'Wham!',
 'Andy Williams',
 'SZA',
 'Jose Feliciano',
 'Taylor Swift',
 'Sam Smith & Kim Petras',
 'Nat King Cole',
 'Ariana Grande',
 'The Ronettes',
 'Kelly Clarkson',
 'Darlene Love',
 'Nat King Cole',
 'Dean Martin',
 'Bing Crosby',
 'Metro Boomin, The Weeknd & 21 Savage',
 'Drake & 21 Savage',
 'Michael Buble',
 'Frank Sinatra',
 'David Guetta & Bebe Rexha',
 'Perry Como And The Fontane Sisters With Mitchell Ayres And His Orchestra',
 'Gene Autry',
 'The Weeknd',
 'Elvis Presley',
 'Gene Autry',
 'Steve Lacy',
 'The Beach Boys',
 'Thurl Ravenscroft',
 'Paul McCartney',
 'Jackson 5',
 'Chuck Berry',
 'Harry Styles',
 'SZA',
 'Chris Brown',
 'John & Yoko/The Plastic Ono Band With The Harlem Community Choir',
 'Beyonce',
 'Andy Williams',
 'Metro Boomin, Future & Chris Brown',
 'Ed Sheeran & Elton John',
 'SZA',
 'Eagles',
 'Eartha Kitt With Henri Rene And His Orchestra',
 'Morgan Wallen',
 'Donny Hathaway',
 'SZA',
 'Vince Guaraldi Trio',
 'Zach Bryan',
 'Meghan Trainor',
 'SZA',
 'Nicki Minaj',
 'JVKE',
 'Lil Uzi Vert',
 'GloRilla & Cardi B',
 'Rihanna',
 'SZA',
 'Lizzo',
 'Kane Brown With Katelyn Brown',
 'SZA',
 'Stephen Sanchez',
 'SZA',
 'Bailey Zimmerman',
 'Jordan Davis',
 'Jax',
 'Taylor Swift',
 'Jelly Roll',
 'HARDY Featuring Lainey Wilson',
 'SZA Featuring Don Toliver',
 'SZA',
 'RAYE Featuring 070 Shake',
 'Luke Combs',
 'Lainey Wilson',
 'SZA Featuring Phoebe Bridgers',
 'Kane Brown',
 'Lil Nas X',
 'Kelly Clarkson & Ariana Grande',
 'SZA',
 'Nate Smith',
 'Lauren Spencer-Smith',
 'SZA',
 'Rema & Selena Gomez',
 'Metro Boomin Featuring Don Toliver & Future',
 'SZA',
 'SZA Featuring Travis Scott',
 'Drake & 21 Savage',
 'SZA',
 'Metro Boomin, Travis Scott & 21 Savage',
 'Drake & 21 Savage',
 'SZA',
 'Juice WRLD',
 'Pentatonix Featuring Meghan Trainor',
 'd4vd',
 'SZA',
 'Jimmie Allen',
 'Morgan Wallen',
 'Elton John & Britney Spears',
 'SZA',
 'Brent Faiyaz']

In [5]:
Last_week_rank = []
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']"):
        Last_week_rank.append(i.text)
except NoSuchElementException:
    Last_week_rank.append('-')

In [6]:
Last_week_rank

['',
 '',
 '',
 '2',
 '2',
 '51',
 '',
 '',
 '',
 '4',
 '3',
 '48',
 '',
 '',
 '',
 '5',
 '4',
 '31',
 '',
 '',
 '',
 '6',
 '5',
 '30',
 '',
 '',
 '',
 '8',
 '5',
 '32',
 '',
 '',
 '',
 '3',
 '3',
 '2',
 '',
 '',
 '',
 '11',
 '6',
 '25',
 '',
 '',
 '',
 '7',
 '1',
 '9',
 '',
 '',
 '',
 '9',
 '1',
 '13',
 '',
 '',
 '',
 '15',
 '11',
 '37',
 '',
 '',
 '',
 '19',
 '12',
 '17',
 '',
 '',
 '',
 '16',
 '10',
 '21',
 '',
 '',
 '',
 '20',
 '12',
 '20',
 '',
 '',
 '',
 '25',
 '15',
 '16',
 '',
 '',
 '',
 '31',
 '16',
 '7',
 '',
 '',
 '',
 '22',
 '8',
 '24',
 '',
 '',
 '',
 '27',
 '12',
 '29',
 '',
 '',
 '',
 '13',
 '5',
 '3',
 '',
 '',
 '',
 '14',
 '2',
 '7',
 '',
 '',
 '',
 '35',
 '20',
 '14',
 '',
 '',
 '',
 '36',
 '22',
 '8',
 '',
 '',
 '',
 '26',
 '7',
 '17',
 '',
 '',
 '',
 '23',
 '12',
 '17',
 '',
 '',
 '',
 '39',
 '25',
 '14',
 '',
 '',
 '',
 '33',
 '12',
 '21',
 '',
 '',
 '',
 '41',
 '27',
 '7',
 '',
 '',
 '',
 '47',
 '16',
 '21',
 '',
 '',
 '',
 '28',
 '1',
 '25',
 '',
 '',
 '',
 '-',
 '30',
 '3',
 '',
 '',
 '',
 '-',
 '31',
 '6',
 '',
 '',
 '',
 '-',
 '28',
 '7',
 '',
 '',
 '',
 '48',
 '33',
 '5',
 '',
 '',
 '',
 '46',
 '10',
 '16',
 '',
 '',
 '',
 '38',
 '1',
 '38',
 '',
 '',
 '',
 '18',
 '11',
 '8',
 '',
 '',
 '',
 '45',
 '14',
 '15',
 '',
 '',
 '',
 '-',
 '38',
 '3',
 '',
 '',
 '',
 '42',
 '13',
 '19',
 '',
 '',
 '',
 '-',
 '18',
 '14',
 '',
 '',
 '',
 '34',
 '8',
 '3',
 '',
 '',
 '',
 '-',
 '42',
 '5',
 '',
 '',
 '',
 '10',
 '10',
 '2',
 '',
 '',
 '',
 '-',
 '18',
 '11',
 '',
 '',
 '',
 '-',
 '35',
 '4',
 '',
 '',
 '',
 '49',
 '5',
 '32',
 '',
 '',
 '',
 '-',
 '39',
 '2',
 '',
 '',
 '',
 '12',
 '12',
 '2',
 '',
 '',
 '',
 '-',
 '37',
 '2',
 '',
 '',
 '',
 '53',
 '12',
 '35',
 '',
 '',
 '',
 '50',
 '24',
 '9',
 '',
 '',
 '',
 '17',
 '17',
 '2',
 '',
 '',
 '',
 '56',
 '1',
 '19',
 '',
 '',
 '',
 '59',
 '35',
 '17',
 '',
 '',
 '',
 '60',
 '21',
 '10',
 '',
 '',
 '',
 '57',
 '9',
 '13',
 '',
 '',
 '',
 '51',
 '2',
 '8',
 '',
 '',
 '',
 '21',
 '21',
 '2',
 '',
 '',
 '',
 '73',
 '59',
 '4',
 '',
 '',
 '',
 '63',
 '22',
 '15',
 '',
 '',
 '',
 '29',
 '29',
 '2',
 '',
 '',
 '',
 '64',
 '38',
 '25',
 '',
 '',
 '',
 '24',
 '24',
 '2',
 '',
 '',
 '',
 '66',
 '24',
 '28',
 '',
 '',
 '',
 '69',
 '41',
 '19',
 '',
 '',
 '',
 '67',
 '35',
 '21',
 '',
 '',
 '',
 '65',
 '2',
 '9',
 '',
 '',
 '',
 '70',
 '31',
 '25',
 '',
 '',
 '',
 '72',
 '51',
 '16',
 '',
 '',
 '',
 '30',
 '30',
 '2',
 '',
 '',
 '',
 '37',
 '37',
 '2',
 '',
 '',
 '',
 '79',
 '72',
 '3',
 '',
 '',
 '',
 '88',
 '73',
 '6',
 '',
 '',
 '',
 '82',
 '74',
 '6',
 '',
 '',
 '',
 '40',
 '40',
 '2',
 '',
 '',
 '',
 '84',
 '76',
 '3',
 '',
 '',
 '',
 '75',
 '32',
 '13',
 '',
 '',
 '',
 '92',
 '78',
 '3',
 '',
 '',
 '',
 '32',
 '32',
 '2',
 '',
 '',
 '',
 '80',
 '44',
 '27',
 '',
 '',
 '',
 '94',
 '81',
 '4',
 '',
 '',
 '',
 '43',
 '43',
 '2',
 '',
 '',
 '',
 '83',
 '74',
 '16',
 '',
 '',
 '',
 '68',
 '22',
 '3',
 '',
 '',
 '',
 '44',
 '44',
 '2',
 '',
 '',
 '',
 '54',
 '54',
 '2',
 '',
 '',
 '',
 '78',
 '5',
 '7',
 '',
 '',
 '',
 '52',
 '52',
 '2',
 '',
 '',
 '',
 '71',
 '27',
 '3',
 '',
 '',
 '',
 '87',
 '8',
 '7',
 '',
 '',
 '',
 '55',
 '55',
 '2',
 '',
 '',
 '',
 '-',
 '92',
 '1',
 '',
 '',
 '',
 '-',
 '93',
 '1',
 '',
 '',
 '',
 '86',
 '33',
 '16',
 '',
 '',
 '',
 '58',
 '58',
 '2',
 '',
 '',
 '',
 '-',
 '88',
 '5',
 '',
 '',
 '',
 '81',
 '37',
 '3',
 '',
 '',
 '',
 '89',
 '6',
 '17',
 '',
 '',
 '',
 '61',
 '61',
 '2',
 '',
 '',
 '',
 '95',
 '42',
 '20']

In [7]:
df = pd.DataFrame({'last_rank':Last_week_rank})
df

    last_rank
0
1
2
3           2
4           2
..        ...
589
590
591        95
592        42
593        20

[594 rows x 1 columns]

In [13]:
df1 =df.iloc[::3]
df1

    last_rank
0
3           2
6
9           4
12
..        ...
579        89
582
585        61
588
591        95

[198 rows x 1 columns]

In [25]:
last_week_rank = df1[0:100]
last_week_rank

    last_rank
0
3           2
6
9           4
12
..        ...
285         -
288
291        53
294
297        50

[100 rows x 1 columns]

In [18]:
df2 =df[::4]
df2

    last_rank
0
4           2
8
12
16          4
..        ...
576
580         6
584
588
592        42

[149 rows x 1 columns]

In [24]:
peak_rank = df2[0:100]
peak_rank

    last_rank
0
4           2
8
12
16          4
..        ...
380
384
388        35
392
396

[100 rows x 1 columns]

In [22]:
df3 = df.iloc[::5]
df3

    last_rank
0
5          51
10          3
15          5
20
..        ...
570
575         3
580         6
585        61
590

[119 rows x 1 columns]

In [23]:
week_on_board = df3[0:100]
week_on_board

    last_rank
0
5          51
10          3
15          5
20
..        ...
475
480
485         2
490        74
495        68

[100 rows x 1 columns]

# question 7

In [34]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [35]:
driver.get("http://www.naukri.com/")

In [38]:
recruiter = driver.find_elements(By.XPATH,"//a[@title='Search Recruiters']")

# question 8

In [46]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [47]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [48]:
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [49]:
Book_name = []

for i in driver.find_elements(By.XPATH,"//tbody//tr//td[2]"):
    Book_name.append(i.text)

In [50]:
Book_name

['Da Vinci Code,The',
 'Harry Potter and the Deathly Hallows',
 "Harry Potter and the Philosopher's Stone",
 'Harry Potter and the Order of the Phoenix',
 'Fifty Shades of Grey',
 'Harry Potter and the Goblet of Fire',
 'Harry Potter and the Chamber of Secrets',
 'Harry Potter and the Prisoner of Azkaban',
 'Angels and Demons',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Fifty Shades Darker',
 'Twilight',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Fifty Shades Freed',
 'Lost Symbol,The',
 'New Moon',
 'Deception Point',
 'Eclipse',
 'Lovely Bones,The',
 'Curious Incident of the Dog in the Night-time,The',
 'Digital Fortress',
 'Short History of Nearly Everything,A',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Breaking Dawn',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Gruffalo,The',
 "Jamie's 30-Minute Meals",
 'Kite Runner,The',
 'One Day',
 'Thousand Splendid Suns,A',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 "Time Traveler's Wife,The",
 'Atonement',
 "Bridget Jones's Diary:A Novel",
 'World According to Clarkson,The',
 "Captain Corelli's Mandolin",
 'Sound of Laughter,The',
 'Life of Pi',
 'Billy Connolly',
 'Child Called It,A',
 "Gruffalo's Child,The",
 "Angela's Ashes:A Memoir of a Childhood",
 'Birdsong',
 'Northern Lights:His Dark Materials S.',
 'Labyrinth',
 'Harry Potter and the Half-blood Prince',
 'Help,The',
 'Man and Boy',
 'Memoirs of a Geisha',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'Island,The',
 'PS, I Love You',
 'You are What You Eat:The Plan That Will Change Your Life',
 'Shadow of the Wind,The',
 'Tales of Beedle the Bard,The',
 'Broker,The',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Subtle Knife,The:His Dark Materials S.',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 "Delia's How to Cook:(Bk.1)",
 'Chocolat',
 'Boy in the Striped Pyjamas,The',
 "My Sister's Keeper",
 'Amber Spyglass,The:His Dark Materials S.',
 'To Kill a Mockingbird',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Dear Fatty',
 'Short History of Tractors in Ukrainian,A',
 'Hannibal',
 'Lord of the Rings,The',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Interpretation of Murder,The',
 'Sharon Osbourne Extreme:My Autobiography',
 'Alchemist,The:A Fable About Following Your Dream',
 "At My Mother's Knee ...:and Other Low Joints",
 'Notes from a Small Island',
 'Return of the Naked Chef,The',
 'Bridget Jones: The Edge of Reason',
 "Jamie's Italy",
 'I Can Make You Thin',
 'Down Under',
 'Summons,The',
 'Small Island',
 'Nigella Express',
 'Brick Lane',
 "Memory Keeper's Daughter,The",
 'Room on the Broom',
 'About a Boy',
 'My Booky Wook',
 'God Delusion,The',
 '"Beano" Annual,The',
 'White Teeth',
 'House at Riverton,The',
 'Book Thief,The',
 'Nights of Rain and Stars',
 'Ghost,The',
 'Happy Days with the Naked Chef',
 'Hunger Games,The:Hunger Games Trilogy',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours"]

In [52]:
Author_name = []

for i in driver.find_elements(By.XPATH,"//tbody//tr//td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author_name.append(i.text)
    except NoSuchElementException:
        Author_name.append('-')
time.sleep(3)

In [53]:
Author_name

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '-',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [55]:
Volumes_sold = []
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[4]"):
    Volumes_sold.append(i.text)

In [56]:
Volumes_sold

['5,094,805',
 '4,475,152',
 '4,200,654',
 '4,179,479',
 '3,758,936',
 '3,583,215',
 '3,484,047',
 '3,377,906',
 '3,193,946',
 '2,950,264',
 '2,479,784',
 '2,315,405',
 '2,233,570',
 '2,193,928',
 '2,183,031',
 '2,152,737',
 '2,062,145',
 '2,052,876',
 '2,005,598',
 '1,979,552',
 '1,928,900',
 '1,852,919',
 '1,814,784',
 '1,787,118',
 '1,783,535',
 '1,781,269',
 '1,743,266',
 '1,629,119',
 '1,616,068',
 '1,583,992',
 '1,555,135',
 '1,546,886',
 '1,539,428',
 '1,508,205',
 '1,489,403',
 '1,352,318',
 '1,310,207',
 '1,310,176',
 '1,231,957',
 '1,217,712',
 '1,208,711',
 '1,204,058',
 '1,184,967',
 '1,181,503',
 '1,181,093',
 '1,153,181',
 '1,132,336',
 '1,130,802',
 '1,126,337',
 '1,115,549',
 '1,108,328',
 '1,107,379',
 '1,104,403',
 '1,092,349',
 '1,090,847',
 '1,087,262',
 '1,054,196',
 '1,037,160',
 '1,023,688',
 '1,015,956',
 '1,009,873',
 '1,004,414',
 '1,003,780',
 '1,002,314',
 '998,213',
 '992,846',
 '986,753',
 '986,115',
 '970,509',
 '967,466',
 '963,353',
 '962,515',
 '959,496',
 '956,114',
 '945,640',
 '931,312',
 '925,425',
 '924,695',
 '906,968',
 '905,086',
 '890,847',
 '869,671',
 '869,659',
 '862,602',
 '856,540',
 '845,858',
 '842,535',
 '828,215',
 '820,563',
 '816,907',
 '816,585',
 '815,586',
 '814,370',
 '809,641',
 '808,900',
 '807,311',
 '794,201',
 '792,187',
 '791,507',
 '791,095']

In [57]:
Publisher = []
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[5]"):
    Publisher.append(i.text)

In [58]:
Publisher

['Transworld',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Random House',
 'Bloomsbury',
 'Bloomsbury',
 'Bloomsbury',
 'Transworld',
 'Bloomsbury',
 'Random House',
 'Little, Brown Book',
 'Quercus',
 'Random House',
 'Transworld',
 'Little, Brown Book',
 'Transworld',
 'Little, Brown Book',
 'Pan Macmillan',
 'Random House',
 'Transworld',
 'Transworld',
 'Quercus',
 'Little, Brown Book',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Bloomsbury',
 'Hodder & Stoughton',
 'Bloomsbury',
 'Quercus',
 'Random House',
 'Random House',
 'Pan Macmillan',
 'Penguin',
 'Random House',
 'Random House',
 'Canongate',
 'HarperCollins',
 'Orion',
 'Pan Macmillan',
 'HarperCollins',
 'Random House',
 'Scholastic Ltd.',
 'Orion',
 'Bloomsbury',
 'Penguin',
 'HarperCollins',
 'Random House',
 'Little, Brown Book',
 'Headline',
 'HarperCollins',
 'Penguin',
 'Orion',
 'Bloomsbury',
 'Random House',
 'Random House',
 'Scholastic Ltd.',
 'Profile Books Group',
 'Random House',
 'Transworld',
 'Random House Childrens Books G',
 'Hodder & Stoughton',
 'Scholastic Ltd.',
 'Random House',
 'HarperCollins',
 'Random House',
 'Penguin',
 'Random House',
 'HarperCollins',
 'Penguin',
 'Headline',
 'Little, Brown Book',
 'HarperCollins',
 'Transworld',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Transworld',
 'Transworld',
 'Random House',
 'Headline',
 'Random House',
 'Transworld',
 'Penguin',
 'Pan Macmillan',
 'Penguin',
 'Hodder & Stoughton',
 'Transworld',
 'D.C. Thomson',
 'Penguin',
 'Pan Macmillan',
 'Transworld',
 'Orion',
 'Random House',
 'Penguin',
 'Scholastic Ltd.',
 'Orion',
 'Penguin']

In [59]:

Genre = []
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[6]"):
    Genre.append(i.text)

In [60]:
Genre

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

In [61]:
df8 = pd.DataFrame({'Book_name':Book_name,'Author_name':Author_name,'volumes_sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
df8

,Book_name,Author_name,volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# question 9

In [65]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [66]:
driver.get('http://www.imdb.com/list/ls095964455/')

In [67]:
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [69]:
Name = [] 

for i in driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']/a"):
    Name.append(i.text)

In [70]:
Name

['Game of Thrones',
 'Stranger Things',
 'The Walking Dead',
 '13 Reasons Why',
 'The 100',
 'Orange Is the New Black',
 'Riverdale',
 "Grey's Anatomy",
 'The Flash',
 'Arrow',
 'Money Heist',
 'The Big Bang Theory',
 'Black Mirror',
 'Sherlock',
 'Vikings',
 'Pretty Little Liars',
 'The Vampire Diaries',
 'American Horror Story',
 'Breaking Bad',
 'Lucifer',
 'Supernatural',
 'Prison Break',
 'How to Get Away with Murder',
 'Teen Wolf',
 'The Simpsons',
 'Once Upon a Time',
 'Narcos',
 'Daredevil',
 'Friends',
 'How I Met Your Mother',
 'Suits',
 'Mr. Robot',
 'The Originals',
 'Supergirl',
 'Gossip Girl',
 'Sense8',
 'Gotham',
 'Westworld',
 'Jessica Jones',
 'Modern Family',
 'Rick and Morty',
 'Shadowhunters',
 'The End of the F***ing World',
 'House of Cards',
 'Dark',
 'Elite',
 'Sex Education',
 'Shameless',
 'New Girl',
 'Agents of S.H.I.E.L.D.',
 'You',
 'Dexter',
 'Fear the Walking Dead',
 'Family Guy',
 'The Blacklist',
 'Lost',
 'Peaky Blinders',
 'House',
 'Quantico',
 'Orphan Black',
 'Homeland',
 'Blindspot',
 "DC's Legends of Tomorrow",
 "The Handmaid's Tale",
 'Chilling Adventures of Sabrina',
 'The Good Doctor',
 'Jane the Virgin',
 'Glee',
 'South Park',
 'Brooklyn Nine-Nine',
 'Under the Dome',
 'The Umbrella Academy',
 'True Detective',
 'The OA',
 'Desperate Housewives',
 'Better Call Saul',
 'Bates Motel',
 'The Punisher',
 'Atypical',
 'Dynasty',
 'This Is Us',
 'The Good Place',
 'Iron Fist',
 'The Rain',
 'Mindhunter',
 'Revenge',
 'Luke Cage',
 'Scandal',
 'The Defenders',
 'Big Little Lies',
 'Insatiable',
 'The Mentalist',
 'The Crown',
 'Chernobyl',
 'iZombie',
 'Reign',
 'A Series of Unfortunate Events',
 'Criminal Minds',
 'Scream: The TV Series',
 'The Haunting of Hill House']

In [71]:
Year_span = []

for i in driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']"):
    Year_span.append(i.text)

In [72]:
Year_span

['(2011–2019)',
 '(2016– )',
 '(2010–2022)',
 '(2017–2020)',
 '(2014–2020)',
 '(2013–2019)',
 '(2017– )',
 '(2005– )',
 '(2014–2023)',
 '(2012–2020)',
 '(2017–2021)',
 '(2007–2019)',
 '(2011–2019)',
 '(2010–2017)',
 '(2013–2020)',
 '(2010–2017)',
 '(2009–2017)',
 '(2011– )',
 '(2008–2013)',
 '(2016–2021)',
 '(2005–2020)',
 '(2005–2017)',
 '(2014–2020)',
 '(2011–2017)',
 '(1989– )',
 '(2011–2018)',
 '(2015–2017)',
 '(2015–2018)',
 '(1994–2004)',
 '(2005–2014)',
 '(2011–2019)',
 '(2015–2019)',
 '(2013–2018)',
 '(2015–2021)',
 '(2007–2012)',
 '(2015–2018)',
 '(2014–2019)',
 '(2016–2022)',
 '(2015–2019)',
 '(2009–2020)',
 '(2013– )',
 '(2016–2019)',
 '(2017–2019)',
 '(2013–2018)',
 '(2017–2020)',
 '(2018– )',
 '(2019– )',
 '(2011–2021)',
 '(2011–2018)',
 '(2013–2020)',
 '(2018– )',
 '(2006–2013)',
 '(2015– )',
 '(1999– )',
 '(2013– )',
 '(2004–2010)',
 '(2013–2022)',
 '(2004–2012)',
 '(2015–2018)',
 '(2013–2017)',
 '(2011– )',
 '(2015–2020)',
 '(2016–2022)',
 '(2017– )',
 '(2018–2020)',
 '(2017– )',
 '(2014–2019)',
 '(2009–2015)',
 '(1997– )',
 '(2013–2021)',
 '(2013–2015)',
 '(2019–2023)',
 '(2014–2019)',
 '(2016–2019)',
 '(2004–2012)',
 '(2015–2022)',
 '(2013–2017)',
 '(2017–2019)',
 '(2017–2021)',
 '(2017–2022)',
 '(2016–2022)',
 '(2016–2020)',
 '(2017–2018)',
 '(2018–2020)',
 '(2017–2019)',
 '(2011–2015)',
 '(2016–2018)',
 '(2012–2018)',
 '(2017)',
 '(2017–2019)',
 '(2018–2019)',
 '(2008–2015)',
 '(2016– )',
 '(2019)',
 '(2015–2019)',
 '(2013–2017)',
 '(2017–2019)',
 '(2005– )',
 '(2015–2019)',
 '(2018)']

In [73]:
Genre = []

for i in driver.find_elements(By.XPATH,"//span[@class='genre']"):
    Genre.append(i.text)

In [74]:
Genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Mystery, Sci-Fi',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Sci-Fi',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [75]:
Run_time= []

for i in driver.find_elements(By.XPATH,"//span[@class='runtime']"):
    Run_time.append(i.text)

In [76]:
Run_time

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [77]:
Ratings = []

for i in driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']//span[2]"):
    Ratings.append(i.text)

In [78]:
Ratings

['9.2',
 '8.7',
 '8.1',
 '7.5',
 '7.6',
 '8.1',
 '6.6',
 '7.6',
 '7.6',
 '7.5',
 '8.2',
 '8.2',
 '8.8',
 '9.1',
 '8.5',
 '7.4',
 '7.7',
 '8',
 '9.5',
 '8.1',
 '8.4',
 '8.3',
 '8.1',
 '7.7',
 '8.7',
 '7.7',
 '8.8',
 '8.6',
 '8.9',
 '8.3',
 '8.5',
 '8.6',
 '8.3',
 '6.2',
 '7.5',
 '8.2',
 '7.8',
 '8.5',
 '7.9',
 '8.5',
 '9.1',
 '6.5',
 '8.1',
 '8.7',
 '8.7',
 '7.3',
 '8.4',
 '8.6',
 '7.8',
 '7.5',
 '7.7',
 '8.7',
 '6.8',
 '8.2',
 '8',
 '8.3',
 '8.8',
 '8.7',
 '6.7',
 '8.3',
 '8.3',
 '7.3',
 '6.8',
 '8.4',
 '7.4',
 '8.1',
 '7.9',
 '6.8',
 '8.7',
 '8.4',
 '6.5',
 '7.9',
 '8.9',
 '7.8',
 '7.6',
 '8.9',
 '8.1',
 '8.5',
 '8.3',
 '7.3',
 '8.7',
 '8.2',
 '6.4',
 '6.3',
 '8.6',
 '7.8',
 '7.3',
 '7.7',
 '7.2',
 '8.5',
 '6.5',
 '8.1',
 '8.7',
 '9.4',
 '7.8',
 '7.4',
 '7.8',
 '8.1',
 '7.1',
 '8.6']

In [89]:
Votes = []

for i in driver.find_elements(By.XPATH,"//div[@class='lister-item-content']//p[4]/span[2]"):
    Votes.append(i.text)

In [90]:
df9 = pd.DataFrame({'Name':Name,'Year_span':Year_span,'Genre':Genre,'Run_time':Run_time,'Ratings':Ratings,'Votes':Votes})
df9

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,100,493"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,190,782"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"994,342"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"294,275"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"253,376"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"50,382"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"62,001"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"199,984"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,715"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"247,039"

# question  10

In [92]:
driver = webdriver.Chrome(r"C:\Users\Kavisha\Downloads\chromedriver_win32 (3)\chromedriver.exe")

In [93]:
driver.get("https://archive.ics.uci.edu/")

In [94]:
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [96]:
viewall_dataset = driver.find_element(By.XPATH,"//tbody[1]//tr/td[2]/span[2]/a")
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(3)

In [97]:
view_list = driver.find_element(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[1]/tbody/tr/td[2]/p/a")
list_url = view_list.get_attribute("href")
driver.get(list_url)
time.sleep(3)

In [99]:
dataset_url = driver.find_elements(By.XPATH,"//p[@class='normal']//b/a")

In [100]:
urls = []
for i in dataset_url:
    urls.append(i.get_attribute("href"))

In [104]:
Dataset_name = []

try:
    for i in driver.find_elements(By.XPATH,"//span[@class='heading']"):
         Dataset_name.append(i.text)
except NoSuchElementException:
        Dataset_name.append('-')
        time.sleep(3)